body {
  font-family: 'Barlow', sans-serif;
}
h1{
  font-weight: bold;
}

h2{
  font-weight: 400;
}
h4{
  font-weight: 400;
}
.link{
  color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
